.en{

font-family: manofa, sans-serif;

font-weight: 300;

font-style: normal;
}

.kr{
font-family: source-han-sans-korean, sans-serif;

font-weight: 500;

font-style: normal;

word-break: keep-all;
}
.head{
    text-align: center;

    
}

.headtext{
    font-family: sans-serif;
}

.ytplayer{
    width: 100%;
    height: 35vh;
}

.img{
    width: 100%;
}

.box{
    margin-top: 3vh;
    border-top: 0px dotted black ;
}

.innertext{
    display: inline;
}

.link{
    position: relative;
    display: inline-flex;
    margin-right:1em;
}



h3{
    margin: 0px;
}

p{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.two, .three, .four, .five{
    margin-top: 15vh;
}

a{
    color:black;
}